body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.header {
    padding: 16px 200px 120px 200px;
}

.header,
.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

.quote {
    background-color: #E5E7EB;
}

.cta, 
button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.herotext h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
}

.content {
    color: #1F2937;
}

.ctitle {
    font-size: 36px;
    font-weight: 900;
}

.nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.nav li {
    list-style: none;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.hero img {
    width: 400px;
    height: 200px;
    border-width: 5px;
    border-color: red;
    padding-left: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

button {
    border-radius: 5px;
    border: 0;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 20px;
}